<% provide(:title, "About") %>
<h1>What Is The Issue In North Carolina Regarding Convention of States?</h1>
<p>No Convention of States NC is an ad hoc committee made up of individual NC citizens dedicated to preserving the U.S. Constitution by opposing a North Carolina call for an Article V Convention of States. H.J.R. 48, a Joint Resolution “applying to Congress for an Article V Convention of the States with the purpose of proposing amendments to the United States Constitution,” was filed in the North Carolina General Assembly on February 4, 2015 by Representative Jones, Millis, Riddell and Pendleton.</p>
