<% provide(:title, "Contact") %>
<h1>Contact Us</h1>
<p>No Convention of States NC is an ad hoc committee made up of individual NC citizens dedicated to preserving the U.S. Constitution by opposing a North Carolina call for an Article V Convention of States. For more questions, comments, or further information, please use this form.</p>
<form action="mailto:joeyshoop@gmail.com" method="post" enctype="text/plain">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <label for="fname">First Name:</label>
      <input type="text" class="form-control" id="fname">
    </div>
    <div class="col-sm-6 col-xs-12">
      <label for="lname">Last Name:</label>
      <input type="text" class="form-control" id="lname">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label for="comment">Comment:</label>
      <textarea rows="10" class="form-control" id="comment"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button type="submit" value="send" class="btn btn-primary submit-button">Submit</button>
    </div>
  </div>
</form>
