<% provide(:title, "Home") %>
<h1>Mission Statement</h1>
<p>No Convention of States NC is an ad hoc committee made up of individual NC citizens dedicated to preserving the U.S. Constitution by opposing a North Carolina call for an Article V Convention of States. This committee is non- partisan. It is not connected to other organizations although willing to work side-by-side with other organizations of like mind. Its purpose is to educate the people of North Carolina on the dangers of an Article V Convention of States and to enable the people to communicate directly with their legislators on this critical issue.</p><a class="btn btn-primary btn-lg" href="about" role="button">Learn more &raquo;</a></p>
