<% provide(:title, "What Can Be Done") %>
<h1>What Is The Better Solution to the Problem?</h1>
<p>Instead of Convention of States, a better solution is to....</p>
<h3>WHAT CAN YOU DO TO HELP?</h3>
<p>You can:</p>
<ol>
  <li></li>
</ol>
